//- views/recipe.pug
doctype html
html
  head
    title= recipe.title
    link(rel="stylesheet", href="/styles.css")
  body
    .recipe-container
      img(src=recipe.image, alt=recipe.title)
      h1= recipe.title
      p Description: #{recipe.description}
      p Instructions: #{recipe.instructions}

      // Ingredients Section
      h3 Ingredients:
      if recipe.ingredients.length
        ul
          each ingredient in recipe.ingredients
            li= ingredient.quantity + " " + ingredient.unit + " of " + ingredient.name
      else
        p No ingredients found.

      a(href="/recipes") Back to All Recipes
